{{ partial "head.html" . }}

<body>
    {{ partial "sidebar.html" . }}

    {{ partial "header1.html" . }}
    <main>
        <div class="container">
            <div class="row justify-content-center">  <!-- 添加 justify-content-center 类 -->

                <!-- 文章内容 -->
                <div class="col-md-9">  <!-- 将 col-md-9 改为 col-md-8，适当减小宽度 -->
                    <div class="card rounded shadow-sm mb-4">
                        <div class="card-body">
                            <h1 class="card-title text-center mt-3">分类: {{ .Title }}</h1>  <!-- 显示标签名称 -->

                            <!-- 文章内容 -->
                            <div class="content px-4">  <!-- 添加 px-4 类 -->
                                <ul>
                                    {{ range .Pages }}  <!--  循环显示与此标签相关的文章  -->
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                </ul>
                             </div>
                            
                        </div>
                    </div>
                </div>
                {{ template "_internal/pagination.html" . }}  <!--  添加分页功能  -->

            </div>
        </div>
    </main>

    


    {{ partial "content_footer.html" . }}
    {{ partial "modal_search.html" . }}
    {{ partial "foot.html" . }}
